*.sqlite
*.db
*.pyc
code/flask_session/
*.docx
*.xls
*.xlsx
*.csv
*.pdf
*.dab
*.qsession
*.wiff
*.wiff.scan
*.txt
*.dam
*.qmethod
*.lnk
*.png
*.zip
*.jpg
*.jpeg
code/lims/config.py
/code/.idea
code/lims/static/js/version.js
code/lims/static/filesystem/batch_records/QTON-UR_202501160725/QTON-UR_202501160725 (P).wiff2
code/lims/static/filesystem/batch_records/
code/lims/static/label_and_batch_template
code/lims/label.py
code/lims/static/filesystem/attachments/
code/.idea/code.iml
code/lims_logs
*.bch
*.bch-journal
*.qsession-journal
*.data
*.wiff2
*.iml
.idea/misc.xml
.idea/sfocmeLims.iml
.idea/workspace.xml
code/.idea/code.iml
code/.idea/misc.xml
