{% extends "list_template.html" %}

<!-- Icon to use next to heading -->
{% block icon %}
{% endblock %}

<!-- Custom Buttons -->
{% block buttons %}
<!--put custom buttons here-->
<!--They will be inserted between the "Add" and "Export" buttons-->
{% endblock %}

{% block header %}
    <th>Name</th>
    <th>Code</th>
{% endblock %}

{% block body scoped %}
<th scope="row">
    <a href="{{url_for(table_name~'.view', item_id=item.id)}}">
        {{item.name}}
    </a>
</th>
<td>{{item.code}}</td>

{% endblock %}
