{% extends "list_template.html" %}

<!-- Icon to use next to heading -->
{% block icon %}
<i class="fa-solid fa-signal"></i>
{% endblock %}

<!--Any custom alerts can be inserted here-->
{% block alerts %}
{% endblock %}

<!-- Custom Buttons -->
{% block buttons %}
<!--put custom buttons here-->
<!--They will be inserted between the "Add" and "Export" buttons-->
{% endblock %}

<!-- Header -->
{% block header %}
<th>Name</th>
<th>Description</th>

{% endblock %}

<!-- Body -->
{% block body scoped %}
<td>
    <b>
        <a href="{{url_for(table_name~'.view', item_id=item.id)}}">
            {{item.name}}
        </a>
    </b>
</td>
<td>{{item.description}}</td>
{% endblock %}

<!--Modals-->
{% block modals %}
{% endblock %}

<!--Scripts-->
{% block scripts %}
{% endblock %}