{% extends "base.html" %}
{% block content %}
<div class = "container">
    <h1>Change Password</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form %}
            {% if field.type != "SubmitField" %}
                {% if field.widget.input_type != 'hidden' %}
                    <div class = "form-group">
                        {{field.label(class='form-group')}}{% if field.flags.required %}<span style="color:red">*</span>{% endif %}
                        {{field(class='form-control')}}
                    </div>
                {% endif %}
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p style="color:red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div class = "form-group">
            {{form.submit(class='btn btn-primary')}}
            <a class="btn btn-secondary" href="{{ url_for('users.view_list') }}" role="button">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}