{% extends "list_template.html" %}

<!-- Icon to use next to heading -->
{% block icon %}
{% endblock %}

<!-- Custom Buttons -->
{% block buttons %}
<!--put custom buttons here-->
<!--They will be inserted between the "Add" and "Export" buttons-->
{% endblock %}

<!-- Header -->
{% block header %}
    <th>Name</th>
    <th>Length (Days)</th>
    <th>Date Selection Type</th>
{% endblock %}

<!-- Body -->
{% block body scoped %}
    <td>
        <b>
            <a href="{{url_for(table_name~'.view', item_id=item.id)}}">
                {{item.name}}
            </a>
        </b>
    </td>
    <td>{{item.retention_length}}</td>
    <td>{{item.date_selection}}</td>
{% endblock %}
