{% extends "form_template.html" %}
{% block form %}

        <div class="form-group">
            {{form.name.label}}
            {{form.name}}
        </div>
        <div class="form-group">
            {{form.instrument_id.label}}
            {{form.instrument_id}}
        </div>
        <div class="form-group">
            {{form.sample_format_id.label}}
            {{form.sample_format_id}}
        </div>
        <div class="form-group">
            {{form.max_samples.label}}
            {{form.max_samples}}
        </div>
        <div class="form-group">
            {{form.template_file.label}}
            {{form.template_file}}
        </div>

{% endblock %}

<!--Alerts-->
{% block alerts %}
{% endblock %}

<!--Modals-->
{% block modals %}
{% endblock %}

<!--Scripts-->
{% block scripts %}
{% endblock %}