{% extends "list_template.html" %}

<!-- Icon to use next to heading -->
{% block icon %}
{% endblock %}

<!--Any custom alerts can be inserted here-->
{% block alerts %}
{% endblock %}

<!--Custom Buttons-->
<!--They will be inserted between the "Add" and "Export" buttons-->
{% block buttons %}
{% endblock %}

<!-- Header -->
{% block header %}
    <th>Test</th>
    <th>Comment</th>
{% endblock %}

<!-- Body -->
{% block body scoped %}
    <td>
        {{item.test_id}}
    </td>
    <td>
        {{item.test_comment}}
    </td>
{% endblock %}

<!--Modals-->
{% block modals %}
{% endblock %}

<!--Scripts-->
{% block scripts %}
{% endblock %}

